page-login {

  .login{
    display: table;
    margin: auto;
    width: 100%;
    max-width: 450px;
    vertical-align: middle;
    margin-top: calc((95vh - 380px)/2);
}

  .icone {
     font-size: 50px;
     text-align: center;
  }

  .titulo{
    text-align: center;
  }

  .cardTitulo {
    text-align: center;
    align-content: center;
    align-items: center;
  }
  //
  // .corpo{
  //   margin-top: calc((95vh - 380px)/2);
  //   max-width: 450px;
  //
  // }
  //
  // @media (min-width: 450px) {
  //   .corpo{
  //     margin-left: calc((100vw - 450px)/2);
  //   }
  // }

}
