.dividerMenu {
  font-size: large;
  font-weight: bold;
  color: map-get($colors, primary);
}

.toast-error {
  > div{
       background-color:#bd3434!important;
   }
}

.toast-success {
  > div{
       background-color:#029c59!important;
   }
}